extends layout

block content

    h1.hidden David Morrison
    each section in data.sections
        h2.hidden= section.name
        ul
            each item in section.items
                li.hidden
                    if item.url
                        a(href=item.url)= item.title
                    else
                        span.unavailable= item.title
