doctype html
html(lang='en')
    head
        title davemorro.
        meta(name='description', content='Co-founder, Awesome Co.')
        meta(name='author', content='davemorro')
        
        meta(charset='utf8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0')
        
        link(rel='apple-touch-icon' href='/img/iTunesArtwork@3x.png', sizes='144x144')

        meta(property='og:title', content='David Morrison (davemorro)')
        meta(property='og:url', content='http://davemorro.com/')
        meta(property='og:description', content='Co-founder, Awesome Co.')
    body
        block content
    
        != css()
