@import '_settings'

normalize-css()
base()

html
    height: auto;
    min-height: 100%;

body
    padding: 25px;
    font-size: 1em;
    line-height: 1.7em;
    text-align: left;
    color: $default-color;
    font-family: $font-stack;
    -webkit-font-smoothing: antialiased;

span.unavailable
    text-shadow: none;
    color: hsla(0,0%,100%,.6);

a
    text-decoration: none;
    color: #fff;
    
ul
    padding: 0;
    margin: 0 0 1.7em 0; 

ul li 
    list-style-type: none;
    margin: 0; 
    
ul li a
    text-shadow: 0 1px 1px rgba(0,0,0,.2);

h1, h2
    font-size: 1em;
    margin: 0;
    line-height: 1.7em;
    color: $default-color;
h1
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1;
h2
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    color: #aab5b8;
    
.visible
    opacity: 1;
    transition: opacity 0.2s linear;

.hidden
    opacity: 0;
    transition: opacity 0.2s linear;

@font-face
    font-family: "San Francisco";
    font-weight: 400;
    src: url("//applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");

@font-face
    font-family: "San Francisco";
    font-weight: 600;
    src: url("//applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");

@font-face
    font-family: "San Francisco";
    font-weight: 700;
    src: url("//applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
